{% extends "base.html" %}
{% load whatsapp_links %}

{% block title %}Workspace comercial{% endblock %}

{% block content %}
<h1>Workspace comercial</h1>

{% include "crm/workspace/_cliente.html" %}
{% include "crm/workspace/_oportunidade.html" %}
{% include "crm/workspace/_proxima_acao.html" %}
{% include "crm/workspace/_pedidos.html" %}
{% include "crm/workspace/_produtos.html" %}
{% include "crm/workspace/_inteligencia.html" %}
{% include "crm/workspace/_automacoes.html" %}
{% include "crm/workspace/_timeline.html" %}
{% endblock %}
